*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: rgb(35, 54, 71);
}
.background{
    background-color: rgb(35, 54, 71);
    margin: 0 auto;
}
#display{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.background h1{
    color: white;
    text-align: center;
    margin-top: 10%;
}
.hide{
    display: none;
}
.container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows:  33% 33% 33%;
    max-width: 300px;
}
.cell{
    border: 5px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    color: white;
}
.playerX{
    color: rgb(189, 221, 189);
}
.player0{
    color: rgb(204, 204, 126);
}
 #restart{
    background-color: rgb(44, 40, 65);
    color: white;
    padding: 5px;
    font-size: larger;
    border: none;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
 }
 #restart:hover{
    background-color: rgb(77, 70, 114);
 }
 #restart:active{
    background-color: white;
    color: rgb(77, 70, 114);
 }